/* Colors
    Dark1: #303030
    Dark2: #404040
    Dark-Light1: #999
    Dark-Light:2 #ccc
    Light: #eee
    fa-comment-medical: #da6926     أيقونة تعليق جديد
    fa-user-plus: #367cba           أيقونة مستخدم جديد
    fa-newspaper: #55ab36           أيقونة موضوع جديد

    primary: #007bff
    secondary: #6c757d
    success: #28a745
    danger: #dc3545
    warning: #ffc107
    info: #17a2b8
    light: #f8f9fa
    dark: #343a40


*/


/* RTL */
body {
    direction: rtl;
    background: #303030;
}
body, .dropdown-menu {
    text-align: right;
}
.modal-footer > :not(:last-child) {
    margin-right: 0;
    margin-left: .25rem;
}
.modal-footer > :not(:first-child) {
    margin-left: 0;
    margin-right: .25rem;
}
.modal-header .close {
    margin-left: -1rem;
    margin-right: auto;
}
table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
    border-right-width: 1px;
}
.custom-control {
    padding-left: unset;
    padding-right: 1rem;
}
:not(th) > .custom-control > .custom-control-label {
    padding-right: 10px;
}
.custom-control-label::before, 
.custom-control-label::after {
    left: unset;
    right: -1rem;
}
.custom-file-label::after {
    left: 0;
    right: unset;
    content: "استعراض";
}
.MSG {
    opacity: .5;
}


/* التنسيقات الافتراضية */
a, a:link {
    text-decoration: none;
}
.custom-control .custom-control-label::before, 
.custom-control .custom-control-label::after {
    cursor: pointer;
}

/* تنسيق الهيدر */
header {
    background: #303030;
    color: #f8f9fa;
}
header a, header a.btn {
    display: block;
    padding: 10px 20px;
    color: #f8f9fa;
    cursor: pointer;
}
header a:hover, 
nav .nav-item:hover {
    color: #fff;
    background: rgba(255,255,255,0.1);
    -webkit-transition: all .3s;
    transition: all .3s;
}
header .badge {
    position: relative;
    top: -10px;
}
header .dropdown-menu a {
    padding: 10px 10px;
}
header .dropdown-menu a:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
header .dropdown-menu .dropdown-item i {
    width: 20px;
    margin-left: 3px;
}
header .dropdown-menu .fa-comment-medical {
    color: #17a2b8;
}
header .dropdown-menu .fa-newspaper {
    color: #28a745;
}
header .dropdown-menu .fa-user-plus {
    color: #dc3545;
}
header .dropdown #dropdownUser .fa-user-circle {
    font-size: 20px;
    margin-right: 5px;
}
.user-info {
    width: 100%;
    height: 80px;
    padding: 10px 10px;
    background: #303030;
    color: #f8f9fa;
    border-radius: 5px;
    border: 2px solid #404040;

}
.user-info .fa-user-circle {
    font-size: 60px;
}


/* تنسيق القائمة الجانبية */
nav, nav .nav-link {
    color: #f8f9fa;
}
nav .nav-item {
    position: relative;
    border-bottom: 1px #404040 solid;
    padding: 0;
}
nav .nav-item .nav-link {
    padding: 15px;
}
nav .nav-item.active {
    border-radius: 50px;
    background: #f8f9fa;
}
nav .nav-item.active .nav-link {
    color: #343a40;
    padding: 10px 15px;
}
nav .nav-item:hover .nav-link > i {
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    -webkit-transition: all .5s;
    transition: all .5s;
}
nav .nav-item .add {
    display: none;
    padding: 0 5px;
    margin-left: 5px;
}
nav .nav-item:hover .add {
    display: block;
    color: #ffc107;
    padding: 0 5px;
    border: 0;
}


/* تنسيق المحتوى */
main {    
    min-height: 100vh !important;
    color: #343a40;
}
table tbody tr {
    background: #fff;
}

/* تنسيق صفحة الترحيب */
main .panel {
    border-radius: 10px;
    overflow: hidden;
}
main .panel > div i {
    -webkit-transition: all .5s;
    transition: all .5s;
}
main .panel:hover > div i {
    -ms-transform: translate(-10px);
    -webkit-transform: translate(-10px);
    transform: translate(-10px);
}

/* تنسيق صفحة التصنيفات */
.alert.selected {
    position: fixed;
    top: 30%;
    left: 0;
    display: none;
    z-index: 1;
}
#deleteItems {
    display: none;
}
.icons-control {
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}
tr:hover .icons-control {
    opacity: 1;
}
.icons-control .details {
    display: none;
}

@media only screen and (max-width: 991.98px) {
    table th.column-primary ~ th:not(.column-control), table td.column-primary ~ td:not(.column-control) {
        display: none;
    }
    table th.column-primary {
        width: 100%;
    }
    table td.column-primary  {
        display: block;
    }
    table td.column-control {
        white-space: nowrap;
        /* display: inline-flex; */
    }
    table td.column-primary ~ td:not(.column-control) {
        display: none;
        position: relative;
        width: auto;
        clear: both;
    }
    .icons-control {
        opacity: 1;
    }
    .icons-control .details {
        display: inline-block;
    }
}

/* تنسيق صفحة إضافة محتوى */
#postAdd :not(.form-group) > .form-group {
    background: #fff;
    padding: 15px;
    border: 1px solid #eee;
}
#postAdd .form-group.sticky-top {
    top: 44px;
}
#postAdd .form-group label.head {
    font-weight: bolder;
}
#postAdd .form-group > label.head {
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
#postAdd #textEditor {
    margin: 10px 0;
    height: 300px;
}
#postAdd .cate-all {
    padding: 10px;
    border: 1px solid #ccc;
    min-height: 40px;
    max-height: 200px;
    overflow: auto;

}
#postAdd .cate-all li {
    margin-top: 10px;
}
#postAdd .cate-all li .custom-control-label::before {
    border-radius: 0;
}
#postAdd .cate-all .children {
    padding-right: 10px;
}
#postAdd #postSource, 
#postAdd #postWriter, 
#postAdd #postGallery, 
#postAdd #postVideo, 
#postAdd #postAudio {
    display: none;
    /* opacity: 0; */
}
#postAdd .writer-img i {
    font-size: 36px;
    color: #999;
    vertical-align: top;
}
#postAdd #postGallery #postGalleryContent img {
    width: 100px;
    height: 100px;
}
#postAdd #postGallery #postGalleryContent span {
    position: relative;
}
#postAdd #postGallery #postGalleryContent span i {
    position: absolute;
    right: 0;
    margin: 5px;
    padding: 2px;
    background: #fff;
    cursor: pointer;
}
#postAdd #postGallery #postGalleryContent span i:hover {
    color: #999;
}


/* تنسيق الفوتر */
footer {
    background: #fff;
    color: #343a40;
    padding: 20px;
}