/* Colors
    Dark1: #303030
    Dark2: #404040
    Dark-Light1: #999
    Dark-Light:2 #ccc
    Light: #eee
    fa-comment-medical: #da6926     أيقونة تعليق جديد
    fa-user-plus: #367cba           أيقونة مستخدم جديد
    fa-newspaper: #55ab36           أيقونة موضوع جديد

    primary: #007bff
    secondary: #6c757d
    success: #28a745
    danger: #dc3545
    warning: #ffc107
    info: #17a2b8
    light: #f8f9fa
    dark: #343a40


*/


/* RTL */
body {
    direction: rtl;
    background: #303030;
}
body, .dropdown-menu {
    text-align: right;
}
.modal-footer > :not(:last-child) {
    margin-right: 0;
    margin-left: .25rem;
}
.modal-footer > :not(:first-child) {
    margin-left: 0;
    margin-right: .25rem;
}
.modal-header .close {
    margin-left: -1rem;
    margin-right: auto;
}
table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
    border-right-width: 1px;
}


/* التنسيقات الافتراضية */
a, a:link {
    text-decoration: none;
}
.custom-checkbox .custom-control-label::before, 
.custom-checkbox .custom-control-label::after {
    cursor: pointer;
}

/* تنسيق الهيدر */
header {
    background: #303030;
    color: #f8f9fa;
}
header a, header a.btn {
    display: block;
    padding: 10px 20px;
    color: #f8f9fa;
    cursor: pointer;
}
header a:hover, nav a:hover {
    color: #fff;
    background: rgba(255,255,255,0.1);
    -webkit-transition: all .3s;
    transition: all .3s;
}
header .badge {
    position: relative;
    top: -10px;
}
header .dropdown-menu a {
    padding: 10px 10px;
}
header .dropdown-menu a:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
header .dropdown-menu .dropdown-item i {
    width: 20px;
    margin-left: 3px;
}
header .dropdown-menu .fa-comment-medical {
    color: #17a2b8;
}
header .dropdown-menu .fa-newspaper {
    color: #28a745;
}
header .dropdown-menu .fa-user-plus {
    color: #dc3545;
}
header .dropdown #dropdownUser .fa-user-circle {
    font-size: 20px;
    margin-right: 5px;
}
.user-info {
    width: 100%;
    height: 80px;
    padding: 10px 10px;
    background: #303030;
    color: #f8f9fa;
    border-radius: 5px;
    border: 2px solid #404040;

}
.user-info .fa-user-circle {
    font-size: 60px;
}


/* تنسيق القائمة الجانبية */
nav, nav a {
    color: #f8f9fa;
}
nav .nav-link {
    padding: 15px;
    border-bottom: 1px #404040 solid;
}
nav .nav-link.active {
    background: #f8f9fa;
    color: #343a40;
    border-radius: 50px;
    padding: 10px 15px;
}
nav .nav-link .add {
    display: none;
}
nav .nav-link:hover .add {
    display: block;
    color: #ffc107;
    padding: 0 5px;
    border: 0;
}
nav .nav-link:hover > i {
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    -webkit-transition: all .5s;
    transition: all .5s;
}


/* تنسيق المحتوى */
main {    
    min-height: 100vh !important;
    color: #343a40;
}

/* تنسيق صفحة الترحيب */
main .panel {
    border-radius: 10px;
    overflow: hidden;
}
main .panel > div i {
    -webkit-transition: all .5s;
    transition: all .5s;
}
main .panel:hover > div i {
    -ms-transform: translate(-10px);
    -webkit-transform: translate(-10px);
    transform: translate(-10px);
}

/* تنسيق صفحة التصنيفات */
#categories .alert.selected {
    position: fixed;
    top: 30%;
    left: 0;
    display: none;
    z-index: 1;
}
#categories .d-selected {
    display: none;
}
.icon-control {
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}
tr:hover .icon-control {
    opacity: 1;
}

@media only screen and (max-width: 800px) {
    .icon-control {
        opacity: 1;
    }
}

/* تنسيق الفوتر */
footer {
    background: #fff;
    color: #343a40;
    padding: 20px;
}